{% extends "base.html" %}
{% block content %}
<h1 class="text-center mt-3">Lista Clientes</h1>
<table class="table table-light shadow-sm table-responsive">
    <thead class="bg-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col" class="d-flex justify-content-end">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for c in page_obj %}
            <tr>
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.telefono|default_if_none:"-----" }}</td>
                <td>{{ c.direccion|default_if_none:"-----" }}</td>
                <td class="d-flex justify-content-end gap-1">
                    <button class="btn btn-sm btn-primary">
                        <a href="/clientes/clienteModif/{{ c.id }}" class="text-white text-decoration-none">Modificar</a>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <a href="/clientes/clienteBorrar/{{ c.id }}" class="text-white text-decoration-none">Eliminar</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-3" href="?page=1">« Primera</a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">‹ Anterior</a>
    {% endif %}

    {% for i in page_range %}
        {% if page_obj.number == i %}
            <span class="btn btn-primary mb-3">{{ i }}</span>
        {% else %}
            <a class="btn btn-outline-primary mb-3" href="?page={{ i }}">{{ i }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">Siguiente ›</a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">Última »</a>
    {% endif %}
</div>

<a href="{% url 'clienteNuevo' %}" class="customButton">+</a>
{% endblock %}
