{% extends "base.html" %}
{% block estilos %}
<style>
    tbody tr:hover {
        color: #C1121F; /* Cambia el color del texto */
        opacity: 0.5;
    }
    tbody tr {
        cursor: pointer; /* Cambia el cursor a un puntero para indicar que es seleccionable */
    }
    /* barra de busqueda*/
    .search-bar {
        margin: 20px;
      }
    
    .search-input {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: none;
      padding: 10px 15px;
    }

    .search-btn {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #007bff;
      border: none;
      padding: 10px 15px;
    }

    .search-btn:hover {
      background-color: #0056b3;
    }

    .search-btn svg {
      vertical-align: middle;
    }

    .input-group .form-control:focus {
      box-shadow: none;
      border-color: #007bff;
    }

    .input-group {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
    .btn-limpiar {
        border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #ff3b2e;
      border: none;
      padding: 10px 15px;
      color: white;
    }
    .btn-limpiar:hover {
        background-color: #ff6f61;
        color:white;
        
    }
    .btn-limpiar:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5);
    }

    /*estilos divs*/
    .contenedor-orden {
        background-color: #f8f9fa; /* Color de fondo suave */
        border: 1px solid #dee2e6; /* Borde sutil */
        border-radius: 0.25rem; /* Esquinas redondeadas */
        padding: 1rem; /* Espaciado interno */
        margin-bottom: 1rem; /* Espaciado entre divs */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera */
        transition: transform 0.2s ease-in-out; /* Transición suave */
    }
      
    .contenedor-orden:hover {
        transform: scale(1.02); /* Ligero aumento al pasar el mouse */
      }
      
    .contenedor-orden h1 {
        font-size: 1.5rem; /* Tamaño de fuente del título */
        color: #343a40; /* Color del texto */
        margin-bottom: 0.5rem; /* Espaciado debajo del título */
      }
      
    .contenedor-orden p {
        font-size: 1rem; /* Tamaño de fuente del párrafo */
        color: #6c757d; /* Color del texto */
        margin-bottom: 0.5rem; /* Espaciado debajo del párrafo */
      }
      
    .contenedor-orden button {
        font-size: 0.875rem; /* Tamaño de fuente del botón */
        padding: 0.5rem 1rem; /* Espaciado interno del botón */
        border: none; /* Sin borde */
        border-radius: 0.25rem; /* Esquinas redondeadas */
        transition: background-color 0.2s ease-in-out; /* Transición suave */
      }
      
    .contenedor-orden button a {
        color: white; /* Color del texto */
      }
      
    .contenedor-orden button.btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario */
      }
      
    .contenedor-orden button.btn-primary:hover {
        background-color: #0056b3; /* Color de fondo del botón primario al pasar el mouse */
      }
      
    .contenedor-orden button.btn-danger {
        background-color: #dc3545; /* Color de fondo del botón de peligro */
      }
      
    .contenedor-orden button.btn-danger:hover {
        background-color: #c82333; /* Color de fondo del botón de peligro al pasar el mouse */
      }
      
</style>


{% endblock %}


{% block content %}
  <div class="container">
      <h1 class="text-center mt-1 cont titulo">Lista Ordenes</h1>
      <form method="GET" class="search-bar col-md-4">
            <div class="input-group">
                <input type="date" class="form-control search-input" name="q" value="{{ query }}" \
                placeholder="Buscar por fecha">
                <button class="btn btn-primary search-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                </button>
                <button class="btn btn-limpiar" type="reset" onclick="clearSearch()">
                    Limpiar
                </button>
            </div>
        </form>
            {% for o in ordenes %}
            {% if not o.entregado %}
              <div onclick="window.location.href='{% url 'ordenDetalle' o.id%}'" class="contenedor-orden">
                <h1>{{o.id_mesa.nombre}}</h1>
                <p>{{o.fecha}}</p>
                <p>{{o.observacion}}</p>
                <p>{{o.total}}</p>
                {% if perms.miAplicacion.change_orden %}
                <div class="d-flex justify-content-end gap-1">
                  <button class="btn btn-sm btn-primary"><a href="/ordenes/ordenModif/{{ o.id }}" class="text-white text-decoration-none">Modificar</a></button>
                  <button class="btn btn-sm btn-danger"><a href="/ordenes/ordenBorrar/{{ o.id }}" class="text-white text-decoration-none">Eliminar</a></button>
                </div>
                {% endif %}
              </div>
            {% endif %}
            {% endfor %}



      {% if perms.miAplicacion.add_orden %}
        <a href={% url "ordenNueva" %} class="customButton">+</a>
       {% endif %}
  </div>


  <script>
    function clearSearch() {
      document.querySelector('.search-input').value = '';
      window.location.href = window.location.pathname;
    }
  </script>
  
{% endblock %}









