{% extends "base.html" %}
{% block estilos %}
<style>
    .cont {
        position: relative;
        padding: 20px; /* Ajusta según sea necesario */
        border-radius: 10px; /* Ajusta según sea necesario */
        overflow: hidden; /* Asegura que el contenido no se desborde */
        color: white;
        /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
      }
      
      .cont::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../media/estilos_h1/ordenes.jpg"); /* Reemplaza con la ruta de tu imagen */
        background-size: cover;
        background-position: center;
        filter: blur(4px); /* Ajusta el valor del desenfoque según sea necesario */
        z-index: -1;
      }
      .titulo{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
      }
    /* barra de busqueda*/
    .search-bar {
        margin: 20px;
      }
    
    .search-input {
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      border-right: none;
      padding: 10px 15px;
    }

    .search-btn {
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #007bff;
      border: none;
      padding: 10px 15px;
    }

    .search-btn:hover {
      background-color: #0056b3;
    }

    .search-btn svg {
      vertical-align: middle;
    }

    .input-group .form-control:focus {
      box-shadow: none;
      border-color: #007bff;
    }

    .input-group {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
    }
    .btn-limpiar {
        border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: #ff3b2e;
      border: none;
      padding: 10px 15px;
      color: white;
    }
    .btn-limpiar:hover {
        background-color: #ff6f61;
        color:white;
        
    }
    .btn-limpiar:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 111, 97, 0.5);
    }

    /*estilos divs*/
    .contenedor-orden {
        background-color: #f8f9fa; /* Color de fondo suave */
        border: 1px solid #dee2e6; /* Borde sutil */
        border-radius: 0.25rem; /* Esquinas redondeadas */
        padding: 1rem; /* Espaciado interno */
        margin-bottom: 1rem; /* Espaciado entre divs */
        box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Sombra ligera */
        transition: transform 0.2s ease-in-out; /* Transición suave */
    }
      
    .contenedor-orden:hover {
        transform: scale(1.02); /* Ligero aumento al pasar el mouse */
      }
      
    .contenedor-orden h1 {
        font-size: 1.5rem; /* Tamaño de fuente del título */
        color: #343a40; /* Color del texto */
        margin-bottom: 0.5rem; /* Espaciado debajo del título */
      }
      
    .contenedor-orden p {
        font-size: 1rem; /* Tamaño de fuente del párrafo */
        color: #6c757d; /* Color del texto */
        margin-bottom: 0.5rem; /* Espaciado debajo del párrafo */
      }
      
    .contenedor-orden button {
        font-size: 0.875rem; /* Tamaño de fuente del botón */
        padding: 0.5rem 1rem; /* Espaciado interno del botón */
        border: none; /* Sin borde */
        border-radius: 0.25rem; /* Esquinas redondeadas */
        transition: background-color 0.2s ease-in-out; /* Transición suave */
      }
      
    .contenedor-orden button a {
        color: white; /* Color del texto */
      }
      
    .contenedor-orden button.btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario */
      }
      
    .contenedor-orden button.btn-primary:hover {
        background-color: #0056b3; /* Color de fondo del botón primario al pasar el mouse */
      }
      
    .contenedor-orden button.btn-danger {
        background-color: #dc3545; /* Color de fondo del botón de peligro */
      }
      
    .contenedor-orden button.btn-danger:hover {
        background-color: #c82333; /* Color de fondo del botón de peligro al pasar el mouse */
      }
    

      .modal {
        display: none; /* Ocultar por defecto */
        position: fixed;
        z-index: 99;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); /* Fondo semitransparente */
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px; /* Esquinas redondeadas */
    }
    
    .modal-header {
        background-color: #f8f9fa; /* Color de fondo claro */
        border-bottom: 1px solid #dee2e6; /* Borde inferior sutil */
        display: flex;
        justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        padding: 15px; /* Relleno */
        border-top-left-radius: 10px; /* Esquinas redondeadas superiores */
        border-top-right-radius: 10px; /* Esquinas redondeadas superiores */
    }
    
    .modal-title {
        font-size: 1.75rem;
        font-weight: bold;
        color: #343a40; /* Color del título */
        margin: 0; /* Sin margen */
    }
    
    .modal-descripcion {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .botones-modal {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    
    .botones-modal a {
        width: 45%;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave */
    }
    
    .btn-modificar {
        background-color: #007bff;
    }
    
    .btn-modificar:hover {
        background-color: #0056b3; /* Color de fondo al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
        color: #fff; 
    }
    
    .btn-eliminar {
        background-color: #dc3545;
    }
    
    .btn-eliminar:hover {
        background-color: #c82333; /* Color de fondo al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
        color: #fff; 
    }
    
    .btn a {
        color: #fff; /* Color del texto del enlace */
        text-decoration: none; /* Sin subrayado */
    }
    
    .close {
        padding: 5px 10px;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        color: #343a40;
        opacity: 0.8;
        transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
    
    .close:hover {
        color: #ff0000; /* Color rojo al pasar el cursor */
        background-color: rgba(255, 0, 0, 0.1); /* Fondo ligeramente rojo al pasar el cursor */
        transform: scale(1.1); /* Efecto de elevación */
        opacity: 1;
    }
    
</style>


{% endblock %}


{% block content %}
  <div class="container">
      <h1 class="text-center mt-1 cont titulo">Lista Ordenes</h1>
      <form method="GET" class="search-bar col-md-4">
            <div class="input-group">
                <input type="date" class="form-control search-input" name="q" value="{{ query }}" \
                placeholder="Buscar por fecha">
                <button class="btn btn-primary search-btn" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                </svg>
                </button>
                <button class="btn btn-limpiar" type="reset" onclick="clearSearch()">
                    Limpiar
                </button>
            </div>
        </form>
        {% for o in ordenes %}
{% if o.id not in facturaOrden %}
    <div onclick="openOrderModal('{{ o.id_mesa.nombre }}', '{{ o.fecha }}', '{{ o.observacion }}', '{{ o.total }}', '{{ o.id }}', [{% for carta in cartaOrden %}{% if carta.id_orden.pk == o.id %}'{{ carta.id_carta.nombre }} {{ carta.cantidad }}',{% endif %}{% endfor %}])" class="contenedor-orden">
      <h1>{{o.id_mesa.nombre}}</h1>
      <p>{{o.fecha}}</p>
      {% if o.entregado %}
        <p>En mesa</p>
      {% endif %}
      <p>{{o.observacion}}</p>
      <hr>
      <h6>Platos</h6>
      {% for carta in cartaOrden %}
          {% if carta.id_orden.pk == o.id  %}
              <p>{{carta.id_carta.nombre}} {{carta.cantidad}}</p>
          {% endif %}
      {% endfor %}
      <p>Total: {{o.total}}</p>
          {% if perms.miAplicacion.change_orden %}
              <div class="d-flex justify-content-end gap-1">
                <button class="btn btn-sm btn-primary"><a href="/ordenes/ordenModif/{{ o.id }}" class="text-white text-decoration-none">Modificar</a></button>
                <button class="btn btn-sm btn-danger"><a href="/ordenes/ordenBorrar/{{ o.id }}" class="text-white text-decoration-none">Eliminar</a></button>
              </div>
          {% endif %}
    </div>
{% endif %}
{% endfor %}

<!-- Modal -->
<div id="orderModal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Detalles de la Orden</h2>
            <span class="close" onclick="closeOrderModal()">&times;</span>
        </div>
        <div class="modal-body">
            <p class="modal-descripcion"><strong>Mesa:</strong> <span id="orden-mesa"></span></p>
            <p class="modal-descripcion"><strong>Fecha:</strong> <span id="orden-fecha"></span></p>
            <p class="modal-descripcion"><strong>Observación:</strong><span id="orden-observacion"></span></p>
            <h6><strong>Platos</strong></h6>
            <div id="orden-platos"></div>
            <p class="modal-descripcion"><strong>Total:</strong> <span id="orden-total"></span></p>
            <div class="botones-modal">
                <a id="orden-modificar-btn" href="#" class="btn btn-modificar">Modificar</a>
                <a id="orden-eliminar-btn" href="#" class="btn btn-eliminar">Eliminar</a>
            </div>
        </div>
    </div>
</div>

        


      {% if perms.miAplicacion.add_orden %}
        <a href={% url "ordenNueva" %} class="customButton">+</a>
       {% endif %}
  </div>


  <script>
    function clearSearch() {
      document.querySelector('.search-input').value = '';
      window.location.href = window.location.pathname;
    }

    function openOrderModal(mesa, fecha, observacion, total, id, platos) {
        document.getElementById('orden-mesa').textContent = mesa;
        document.getElementById('orden-fecha').textContent = fecha;
        document.getElementById('orden-observacion').textContent = observacion;
        document.getElementById('orden-total').textContent = total;
    
        // Obtener los platos correspondientes a la orden
        const platosContainer = document.getElementById('orden-platos');
        platosContainer.innerHTML = '';  // Limpiar el contenido previo
    
        // Agregar cada plato al contenedor
        platos.forEach(plato => {
            let platoElement = document.createElement('p');
            platoElement.textContent = plato;
            platosContainer.appendChild(platoElement);
        });
    
        document.getElementById('orden-modificar-btn').href = `/ordenes/ordenModif/${id}`;
        document.getElementById('orden-eliminar-btn').href = `/ordenes/ordenBorrar/${id}`;
    
        const modal = document.getElementById('orderModal');
        modal.style.display = "block";
        modal.style.opacity = 0;
        setTimeout(() => { modal.style.opacity = 1; }, 10);
    }
    
    function closeOrderModal() {
        const modal = document.getElementById('orderModal');
        modal.style.opacity = 0;
        setTimeout(() => { modal.style.display = "none"; }, 300);
    }
    
    window.onclick = function(event) {
        const modal = document.getElementById('orderModal');
        if (event.target == modal) {
            modal.style.opacity = 0;
            setTimeout(() => { modal.style.display = "none"; }, 300);
        }
    }
    
  </script>
  
{% endblock %}









