
{% extends "base.html" %}
{% block estilos %}
<style>
    tbody tr {
        cursor: pointer; /* Cambia el cursor a un puntero para indicar que es seleccionable */
    }
    .cont {
      position: relative;
      padding: 20px; /* Ajusta según sea necesario */
      border-radius: 10px; /* Ajusta según sea necesario */
      overflow: hidden; /* Asegura que el contenido no se desborde */
      color: white;
      /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
    }
    
    .cont::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url("../../../media/estilos_h1/mesas.jpg"); /* Reemplaza con la ruta de tu imagen */
      background-size: cover;
      background-position: center;
      filter: blur(4px); /* Ajusta el valor del desenfoque según sea necesario */
      z-index: -1;
    }
    .titulo {
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    /* Estilo a los contenedores de los elementos de carta*/
    .plato {
        background: #f8f9fa; /* Color de fondo claro */
        margin: 20px 2px;
        border-radius: 10px; /* Esquinas redondeadas */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
        overflow: hidden; /* Evita que el contenido se desborde */
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Transiciones suaves */
        padding: 15px;
        display: flex;
        flex-direction: column; /* Ordena el contenido de manera vertical */
        align-items: center;
    }
    
    .plato:hover {
        transform: translateY(-5px); /* Efecto de elevación al pasar el cursor */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
    }
    
    .plato h1 {
        font-size: 1.8rem; /* Tamaño de fuente del título */
        color: #343a40; /* Color del texto */
        margin-bottom: 0.5rem; /* Margen inferior del título */
        text-align: center;
    }
    
    .plato p {
        font-size: 1.2rem; /* Tamaño de fuente del párrafo */
        color: #6c757d; /* Color del texto */
        margin-bottom: 0.5rem; /* Margen inferior del párrafo */
        text-align: center;
    }
    
    .plato svg {
        width: 40px;
        height: 40px;
        fill: #6e8efb; /* Color del SVG */
        margin-bottom: 10px; /* Espacio inferior del SVG */
    }
    
    .plato .btn {
        display: inline-block;
        font-size: 0.875rem; /* Tamaño de fuente del botón */
        padding: 0.5rem 1rem; /* Relleno del botón */
        border-radius: 5px; /* Esquinas redondeadas del botón */
    }
    
    .plato .btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario */
        border: none; /* Sin borde */
    }
    
    .plato .btn-danger {
        background-color: #dc3545; /* Color de fondo del botón de peligro */
        border: none; /* Sin borde */
    }
    
    .plato .btn a {
        color: #fff; /* Color del texto del enlace */
        text-decoration: none; /* Sin subrayado */
    }
    
    .plato .btn-group {
        display: flex;
        gap: 10px; /* Espacio entre los botones */
    }
    /*Estilos de los botones del contenedor*/
    .btn {
        display: inline-block;
        font-size: 0.875rem; /* Tamaño de fuente del botón */
        padding: 0.5rem 1rem; /* Relleno del botón */
        border-radius: 5px; /* Esquinas redondeadas */
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el cambio de color y el efecto de elevación */
    }
    
    .btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario */
        border: none; /* Sin borde */
    }
    
    .btn-primary:hover {
        background-color: #0056b3; /* Color de fondo del botón primario al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
    }
    
    .btn-danger {
        background-color: #dc3545; /* Color de fondo del botón de peligro */
        border: none; /* Sin borde */
    }
    
    .btn-danger:hover {
        background-color: #c82333; /* Color de fondo del botón de peligro al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
    }
    
    .btn a {
        color: #fff; /* Color del texto del enlace */
        text-decoration: none; /* Sin subrayado */
    }




    .modal {
        display: none; /* Ocultar por defecto */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        border-radius: 10px; /* Esquinas redondeadas */
    }
    .modal-header {
        background-color: #f8f9fa; /* Color de fondo claro */
        border-bottom: 1px solid #dee2e6; /* Borde inferior sutil */
        display: flex;
        justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        padding: 15px; /* Relleno */
        border-top-left-radius: 10px; /* Esquinas redondeadas superiores */
        border-top-right-radius: 10px; /* Esquinas redondeadas superiores */
    }
    .modal-title {
        font-size: 1.75rem;
        font-weight: bold;
        color: #343a40; /* Color del título */
        margin: 0; /* Sin margen */
    }
    .modal-titulo {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }
    .modal-descripcion, .modal-precio {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .modal-imagen {
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .botones-modal {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .botones-modal a {
        width: 45%;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        transition: background-color 0.3s ease, transform 0.3s ease; /* Transición suave para el cambio de color y el efecto de elevación */
    }
    .btn-modificar {
        background-color: #007bff;
    }
    .btn-modificar:hover {
      background-color: #0056b3; /* Color de fondo del botón primario al pasar el cursor */
      transform: translateY(-2px); /* Efecto de elevación */
      color: #fff; 
    }
    .btn-eliminar {
        background-color: #dc3545;
    }
    .btn-eliminar:hover {
      background-color: #c82333; /* Color de fondo del botón de peligro al pasar el cursor */
      transform: translateY(-2px); /* Efecto de elevación */
      color: #fff; 
    }
    .btn a {
      color: #fff; /* Color del texto del enlace */
      text-decoration: none; /* Sin subrayado */
  }
    .close {
        padding: 5px 10px;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        color: #343a40;
        opacity: 0.8;
        transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
    .close:hover {
        color: #ff0000; /* Color rojo al pasar el cursor */
        background-color: rgba(255, 0, 0, 0.1); /* Fondo ligeramente rojo al pasar el cursor */
        transform: scale(1.1); /* Efecto de elevación */
        opacity: 1;
    }
    .close span {
        display: inline-block;
        font-weight: bold;
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center mt-1 cont titulo">Lista Mesas</h1>
    <div class="d-flex justify-content-between row">
        {% for mesa in mesas %}
            <div class="plato col-12 col-sm-5 col-lg-3 {% if mesa.estado == False %}bg-success{%else%}bg-danger{% endif %}" >
                <img src="../../../media/logos_nav/mesa.png" width="40" height="40" class="bg-white rounded" alt="" onclick="openModal('{{ mesa.nombre }}', '{{ mesa.estado }}', '/mesas/mesaModif/{{ mesa.id }}', '/mesas/mesaBorrar/{{ mesa.id }}')">
                
                <div onclick="openModal('{{ mesa.nombre }}', '{{ mesa.estado }}', '/mesas/mesaModif/{{ mesa.id }}', '/mesas/mesaBorrar/{{ mesa.id }}')">
                    <h1 class="titulo_plato">{{ mesa.nombre | title}}</h1>
                    <p class="descripcion_sub text-white">{% if mesa.estado == False %}Desocupado{% else %}Ocupado{% endif %}</p>
                </div>
                {% if perms.miAplicacion.change_mesa %}
                    <div class="btn-group">
                        <a href="{% url 'mesaModif' mesa.id %}" class="btn btn-primary btn-sm text-white text-decoration-none">Modificar</a>
                        <a href="{% url 'mesaBorrar' mesa.id %}" class="btn btn-danger btn-sm text-white text-decoration-none {% if mesa.estado == True %}border{% endif %}">Eliminar</a>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title">Detalles de la Mesa</h2>
            <span class="close" onclick="closeModal()">&times;</span>
          </div>
          <div class="modal-body">
            <p class="modal-descripcion"><strong>Nombre:</strong> <span id="mesa-nombre"></span></p>
            <p class="modal-descripcion"><strong>Estado:</strong> <span id="mesa-estado"></span></p>
            <div class="botones-modal">
              <a id="modificar-btn" href="#" class="btn btn-modificar">Modificar</a>
              <a id="eliminar-btn" href="#" class="btn btn-eliminar">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    {% if perms.miAplicacion.add_mesa %}
    <a href="{% url 'mesaNueva' %}" class="customButton">+</a>
    {% endif %}
</div>
<script>
    function openModal(nombre, estado, modificarUrl, eliminarUrl) {
      document.getElementById('mesa-nombre').textContent = nombre;
  
      // Verifica el estado de la mesa y muestra "Ocupada" o "Desocupada" según sea necesario
      if (estado === 'True') {
          document.getElementById('mesa-estado').textContent = "Ocupada";
      } else {
          document.getElementById('mesa-estado').textContent = "Desocupada";
      }
      document.getElementById('modificar-btn').href = modificarUrl;
      document.getElementById('eliminar-btn').href = eliminarUrl;
      document.getElementById('myModal').style.display = "block";
  }
  
    function closeModal() {
        document.getElementById('myModal').style.display = "none";
    }
  
    // Cerrar el modal cuando se hace clic fuera de él
    window.onclick = function(event) {
        if (event.target == document.getElementById('myModal')) {
            document.getElementById('myModal').style.display = "none";
        }
    }
  </script>
{% endblock %}
