{% extends "base.html" %}

{% block content %}

  <h1 class="text-center mt-3 ">Lista Cierres</h1>
    <table class="table table-light shadow-sm table-responsive">
        <thead class="bg-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total Ordenes</th>
            <th scope="col">Total Facturas</th>
            <th scope="col">Vuelto</th> 
          </tr>
        </thead>
        <tbody>
            {% for c in page_obj %}
              <tr>
                <td>{{c.id}}</td>
                <td>{{c.fecha}}</td>
                <td>{{c.total_ordenes}}</td>
                <td>{{c.total_facturas}}</td>
                <td>{{c.vuelto}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination justify-content-center">
      {% if page_obj.has_previous %}
          <a class="btn btn-outline-primary mb-3" href="?page=1">« Primera</a>
          <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">‹ Anterior</a>
      {% endif %}
  
      {% for i in page_range %}
          {% if page_obj.number == i %}
              <span class="btn btn-primary mb-3">{{ i }}</span>
          {% else %}
              <a class="btn btn-outline-primary mb-3" href="?page={{ i }}">{{ i }}</a>
          {% endif %}
      {% endfor %}
  
      {% if page_obj.has_next %}
          <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">Siguiente ›</a>
          <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">Última »</a>
      {% endif %}
  </div>
    <a href={% url "cierreNuevo" %} class="customButton">+</a>

{% endblock %}
