{% extends "base.html" %}
{% block estilos %}
<style>
    tbody tr:hover {
        color: #C1121F; /* Cambia el color del texto */
        opacity: 0.5;
    }
    tbody tr {
        cursor: pointer; /* Cambia el cursor a un puntero para indicar que es seleccionable */
    }
</style>


{% endblock %}

{% block content %}

<h1 class="text-center mt-3">Lista Carta</h1>
<form method="GET" class="d-none d-md-table-cell col-md-4">
    <div class="input-group">
        <input type="text" class="form-control" name="q" value="{{ query }}" \
            placeholder="Buscar en título o descripción...">
        <button class="btn btn-primary text-light" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
            </svg>
        </button>
    </div>
</form>
<table class="table table-light shadow-sm table-responsive">
    <thead class="bg-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Control Stock</th>
            <th scope="col">Stock</th>
            <th scope="col">Categoria</th>
            <th scope="col">Sub Categoria</th>
            {% if perms.miAplicacion.change_carta %}
            <th scope="col" class="d-flex justify-content-end">Action</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for c in carta %}
            <tr onclick="window.location.href='{% url 'cartaDetalle' c.id%}'">
                <td>{{ c.id }}</td>
                <td>{{ c.nombre }}</td>
                <td>{{ c.precio }}</td>
                <td>{{ c.controlStock }}</td>
                {% if not c.controlStock %}
                    <td>-----</td>
                {% else %}
                    <td>{{ c.stock }}</td>
                {% endif %}
                <td>{{ c.categoria }}</td>
                <td>{{ c.subCategoria }}</td>
                {% if perms.miAplicacion.change_carta %}
                <td class="d-flex justify-content-end gap-1">
                    <button class="btn btn-sm btn-primary">
                        <a href="{% url 'cartaModif' c.id %}" class="text-white text-decoration-none bg-primary">Modificar</a>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <a href="{% url 'cartaBorrar' c.id %}" class="text-white text-decoration-none bg-danger">Eliminar</a>
                    </button>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pagination justify-content-center">
    {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-3" href="?page=1">
            Primera
        </a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.previous_page_number }}">
            Anterior
        </a>
    {% endif %}

    <span class="current-page btn btn-outline-light disabled text-primary mb-3">
        {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.next_page_number }}">
            Siguiente
        </a>
        <a class="btn btn-outline-primary mb-3" href="?page={{ page_obj.paginator.num_pages }}">
            Última
        </a>
    {% endif %}
</div>

{% if perms.miAplicacion.add_carta %}
<a href="{% url 'cartaNuevo' %}" class="customButton">+</a>
{% endif %}
{% endblock %}
