{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1 class="text-center mt-3">Lista Mozos</h1>
    <table class="table table-light m-5 shadow-sm">
        <thead class="bg-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Telefono</th>
            <th scope="col">
            action
            </th>
          </tr>
        </thead>
        <tbody>
            {% for m in mozos%}
              <tr>
                <td>{{m.id}}</td>
                <td>{{m.nombre}}</td>
                {% if m.telefono %}
                  <td>{{m.telefono}}</td>
                {% else %}
                  <td>-----</td>
                {% endif %}
                
                <td class="d-flex justify-content-end gap-1">
                  <button class="btn btn-sm btn-primary"><a href="/mozos/mozoModif/{{ m.id }}" class="text-white text-decoration-none">Modificar</a></button>
                  <button class="btn btn-sm btn-danger"><a href="/mozos/mozoBorrar/{{ m.id }}" class="text-white text-decoration-none">Eliminar</a></button>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href={% url "mozoNuevo" %} class="customButton">+</a>
</div>
{% endblock %}