{% extends "base.html" %}
{% block estilos %}
<style>
    /* Estos estilos se aplican al nav en celular y tablet*/
    .carrusel{
        display:flex;
        overflow-y: auto;
     }
     .elemento {
        position: relative;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        padding: 3px;
        margin: 5px;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: bold;
        color: black;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .elemento::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 1px solid;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 80%;
        opacity: 0.3; /* Ajusta el valor de opacidad según sea necesario */
        z-index: -1;
        
    }
    .elemento:nth-child(1)::before {
        background-image: url("../../../media/logos_nav/menu.png");
    }
    .elemento:nth-child(2)::before {
        background-image: url("../../../media/logos_nav/wine-bottle.png");
    }
    .elemento:nth-child(3)::before {
        background-image: url("../../../media/logos_nav/wine_blanco.png");
    }
    .elemento:nth-child(4)::before {
        background-image: url("../../../media/logos_nav/wine_rosado.png");
    }
    .elemento:nth-child(5)::before {
        background-image: url("../../../media/logos_nav/beer-can.png");
    }
    .elemento:nth-child(6)::before {
        background-image: url("../../../media/logos_nav/beer.png");
    }
    .elemento:nth-child(7)::before {
        background-image: url("../../../media/logos_nav/bottle.png");
    }
    .elemento:nth-child(8)::before {
        background-image: url("../../../media/logos_nav/soda.png");
    }
    .elemento:nth-child(9)::before {
        background-image: url("../../../media/logos_nav/water.png");
        background-size: 80%;
    }
    .elemento:nth-child(10)::before {
        background-image: url("../../../media/logos_nav/agua.png");
    }
    .elemento:nth-child(11)::before {
        background-image: url("../../../media/logos_nav/otros.png");
    }
    .elemento:nth-child(12)::before {
        background-image: url("../../../media/logos_nav/chocolate.png");
    }
    .elemento:nth-child(13)::before {
        background-image: url("../../../media/logos_nav/fork.png");
    }
    .elemento:nth-child(14)::before {
        background-image: url("../../../media/logos_nav/salad.png");
    }
    .elemento:nth-child(15)::before {
        background-image: url("../../../media/logos_nav/milanesa.png");
    }
    .elemento:nth-child(16)::before {
        background-image: url("../../../media/logos_nav/fideos.png");
    }
    .elemento:nth-child(17)::before {
        background-image: url("../../../media/logos_nav/lomos.png");
        background-size: 80%;
    }
    .elemento:nth-child(18)::before {
        background-image: url("../../../media/logos_nav/fish.png");
    }
    .elemento:nth-child(19)::before {
        background-image: url("../../../media/logos_nav/empanada.png");
    }
    .elemento:nth-child(20)::before {
        background-image: url("../../../media/logos_nav/pizzas.png");
    }
    .elemento:nth-child(21)::before {
        background-image: url("../../../media/logos_nav/sandwich.png");
    }
    .elemento:nth-child(22)::before {
        background-image: url("../../../media/logos_nav/burger.png");
    }
    .elemento:hover { 
        transform: scale(1); /* Aplica un pequeño zoom */ 
        background-color: rgba(0, 0, 0, 0.1); /* Oscurece ligeramente el fondo al pasar el cursor */ 
        color: black; /* Cambia el color del texto a blanco al pasar el cursor */
    }
    .elemento:hover::before {
        background-size: 100%; /* Aumenta el tamaño de la imagen de fondo al pasar el cursor */
    }
    /* Estos estilos se aplican al nav en PC*/
    .carrusel_2 {
        display: flex;
        flex-wrap: wrap;
    }
    
    .elemento_2 {
        position: relative;
        width: 150px;
        height: 50px;
        border-radius: 10px;
        padding: 3px;
        margin: 2px;
        text-decoration: none;
        text-transform: capitalize;
        font-weight: bold;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.3s ease, background-color 0.3s ease;
    }
    
    .elemento_2::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 1px solid;
        border-radius: 10px;
        background-color: white;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 30%;
        opacity: 0.3; /* Ajusta el valor de opacidad según sea necesario */
        z-index: -1;
    }
    .elemento_2:nth-child(1)::before {
        background-image: url("../../../media/logos_nav/menu.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(2)::before {
        background-image: url("../../../media/logos_nav/wine-bottle.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(3)::before {
        background-image: url("../../../media/logos_nav/wine_blanco.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(4)::before {
        background-image: url("../../../media/logos_nav/wine_rosado.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(5)::before {
        background-image: url("../../../media/logos_nav/beer-can.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(6)::before {
        background-image: url("../../../media/logos_nav/beer.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(7)::before {
        background-image: url("../../../media/logos_nav/bottle.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(8)::before {
        background-image: url("../../../media/logos_nav/soda.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(9)::before {
        background-image: url("../../../media/logos_nav/water.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(10)::before {
        background-image: url("../../../media/logos_nav/agua.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(11)::before {
        background-image: url("../../../media/logos_nav/otros.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(12)::before {
        background-image: url("../../../media/logos_nav/chocolate.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(13)::before {
        background-image: url("../../../media/logos_nav/fork.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(14)::before {
        background-image: url("../../../media/logos_nav/salad.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(15)::before {
        background-image: url("../../../media/logos_nav/milanesa.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(16)::before {
        background-image: url("../../../media/logos_nav/fideos.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(17)::before {
        background-image: url("../../../media/logos_nav/lomos.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(18)::before {
        background-image: url("../../../media/logos_nav/fish.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(19)::before {
        background-image: url("../../../media/logos_nav/empanada.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(20)::before {
        background-image: url("../../../media/logos_nav/pizzas.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(21)::before {
        background-image: url("../../../media/logos_nav/sandwich.png");
        background-size: 60%;
    }
    .elemento_2:nth-child(22)::before {
        background-image: url("../../../media/logos_nav/burger.png");
        background-size: 60%;
    }

    .elemento_2:hover { 
        transform: scale(1); /* Aplica un pequeño zoom */ 
        background-color: rgba(0, 0, 0, 0.1); /* Oscurece ligeramente el fondo al pasar el cursor */ 
        color: black; /* Cambia el color del texto a blanco al pasar el cursor */
    }
    .elemento_2:hover::before {
        background-size: 100%; /* Aumenta el tamaño de la imagen de fondo al pasar el cursor */
    }


/* Contenedor con tamaño fijo */
.cont {
    position: relative; /* Ancho fijo del contenedor */
    height: 120px; /* Alto fijo del contenedor */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Evita que el contenido desborde */
    color: white;
    display: flex; /* Flexbox para centrar contenido */
    align-items: center; /* Centra contenido verticalmente */
    justify-content: center; /* Centra contenido horizontalmente */
}

/* Imagen de fondo con desenfoque */
.cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../media/estilos_h1/fondo_carta.jpg"); /* Reemplaza con la ruta de tu imagen */
    background-size: cover;
    background-position: center;
    filter: blur(4px); /* Desenfoque */
    z-index: -1; /* Envía la imagen al fondo */
    opacity: 0.8; /* Transparencia de la imagen */
}

/* Estilo para el título */
.titulo {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Efecto de sombra */
}

    /* Estilo a los contenedores de los elementos de carta*/
    .platos {
        position: relative; /* Necesario para posicionar correctamente el pseudo-elemento */
        overflow: hidden; /* Evita que elementos sobresalgan */
        border-radius: 15px; /* Bordes redondeados */
        margin-bottom: 20px; /* Separación entre los contenedores */
        background: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de transparencia */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para resaltar */
        display: flex;
        flex-direction: column; /* Organiza el contenido en columna */
        justify-content: space-between; /* Mantiene los botones en el fondo */
        padding: 10px;
    }
    
    /* Fondo difuminado para cada contenedor */
    .platos::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: var(--background-url); /* Usa la variable dinámica para imágenes */
        background-size: cover;
        background-position: center;
         /* Aumenta el desenfoque para más efecto */
        z-index: -1; /* Envía al fondo del contenedor */
         /* Translucidez para que el fondo no sea demasiado invasivo */
    }
    
    /* Asegura que los botones queden al final del contenedor */
    .platos .d-flex {
        margin-top: auto; /* Empuja los botones hacia el fondo del contenedor */
        gap: 10px; /* Espaciado entre botones */
        justify-content: center; /* Centra los botones horizontalmente */
    }
    
    /* Botones estilizados */
    .platos a.btn {
        border-radius: 8px; /* Bordes redondeados para botones */
        font-size: 12px; /* Texto en mayúsculas para destacar */
        transition: all 0.3s ease; /* Suaviza la transición al interactuar */
    }
    
    .platos a.btn:hover {
        transform: scale(1.05); /* Efecto de zoom en el hover */
        opacity: 0.9; /* Ajusta la transparencia al interactuar */
    }
    .titulo_plato{
        font-size: 14px;
    }
    .btn-modificar {
        background-color: #007bff;
    }
    .btn-modificar:hover {
      background-color: #0056b3; /* Color de fondo del botón primario al pasar el cursor */
      transform: translateY(-2px); /* Efecto de elevación */
      color: #fff; 
    }
    .btn-eliminar {
      background-color: #dc3545;
    }
    .btn-eliminar:hover {
      background-color: #c82333; /* Color de fondo del botón de peligro al pasar el cursor */
      transform: translateY(-2px); /* Efecto de elevación */
      color: #fff; 
    }
    .btn a {
      color: #fff; /* Color del texto del enlace */
      text-decoration: none; /* Sin subrayado */
    }
    
    
    

    /*Estilos de los botones del contenedor*/
    
    
 
    /* Estilo al h1 del titulo y subcategorias*/
    .titulo_sub {
        font-size: 2.5rem; /* Tamaño de fuente grande */
        color: #dc3545; /* Color rojo */
        text-align: center; /* Centra el texto */
        margin: 2rem 0; /* Márgenes superior e inferior */
        font-family: 'Arial', sans-serif; /* Fuente elegante */
        font-weight: bold; /* Negrita para resaltar */
        text-transform: capitalize; /* Capitaliza el texto */
        position: relative; /* Relativo para el pseudo-elemento */
        overflow: hidden; /* Oculta el contenido desbordado */
    }
    
    .titulo_sub::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background: #dc3545;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        animation: title-underline 1s ease-in-out alternate;
    }
    
    @keyframes title-underline {
        from {
            width: 0;
        }
        to {
            width: 100%;
        }
    }
    
    /*Estilos de la ventana modal*/
    .modal-titulo {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 1rem;
        text-align: center;
    }
    
    .modal-descripcion, .modal-precio {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    
    .modal-imagen {
        display: block;
        margin: 0 auto;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .botones-modal {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .botones-modal a {
        width: 45%;
        text-align: center;
        padding: 10px;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        color: white;
    }
    .btn-modificar {
        background-color: #007bff;
    }
    .btn-eliminar {
        background-color: #dc3545;
    }
    .modal-header {
        background-color: #f8f9fa; /* Color de fondo claro */
        border-bottom: 1px solid #dee2e6; /* Borde inferior sutil */
        display: flex;
        justify-content: space-between; /* Asegura que los elementos se distribuyan adecuadamente */
        align-items: center; /* Alinea los elementos verticalmente en el centro */
        padding: 15px; /* Relleno */
        border-top-left-radius: 10px; /* Esquinas redondeadas superiores */
        border-top-right-radius: 10px; /* Esquinas redondeadas superiores */
    }
    
    .modal-title {
        font-size: 1.75rem;
        font-weight: bold;
        color: #343a40; /* Color del título */
        margin: 0; /* Sin margen */
    }
    
    .close {
        padding: 5px 10px;
        border: none;
        background: transparent;
        font-size: 1.5rem;
        color: #343a40;
        opacity: 0.8;
        transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
        cursor: pointer;
    }
    
    .close:hover {
        color: #ff0000; /* Color rojo al pasar el cursor */
        background-color: rgba(255, 0, 0, 0.1); /* Fondo ligeramente rojo al pasar el cursor */
        transform: scale(1.1); /* Efecto de elevación */
        opacity: 1;
    }
    
    .close span {
        display: inline-block;
        font-weight: bold;
    }
    .light-red-bg {
        background-color: #ffcccc; /* Color rojo claro */
      }
      

</style>


{% endblock %}

{% block content %}
<div class="container cont">
    <h1 class="text-center mt-1 titulo">Lista Carta</h1>
</div>
{% comment %} Boton que permite agregar otro plato a la carta {% endcomment %}
{% if perms.miAplicacion.add_carta %}
<a href="{% url 'cartaNuevo' %}" class="customButton">+</a>
{% endif %}

{% comment %} Aca voy a poner lo que seria la vista que habiamos hablado {% endcomment %}
    <nav class="carrusel d-flex d-xl-none container">
        <a href="#" class="filter-link elemento" data-category="todas">Platos</a>
        {% for subcategoria in subcategorias %}
            <a href="#" class="filter-link elemento" data-category="{{ subcategoria.nombre }}">{{ subcategoria.nombre }}</a>
        {% endfor %}
    </nav>
    <nav class="carrusel_2 d-none d-xl-flex container">
        <a href="#" class="filter-link elemento_2" data-category="todas">Platos</a>
        {% for subcategoria in subcategorias %}
            <a href="#" class="filter-link elemento_2" data-category="{{ subcategoria.nombre }}">{{ subcategoria.nombre }}</a>
        {% endfor %}
    </nav>


<div class="container mb-5" style="min-height: 70vh;">
    {% comment %} En este apartado se itera las subcategorias y se van mostrando los platos segun la sub categoria perteneciente {% endcomment %}
    {% for subcategoria in subcategorias%}
        <h1 class="m-4 text-danger text-center plato titulo_sub" data-category="{{subcategoria.nombre}}">{{subcategoria.nombre}}</h1>
            <div class="d-flex justify-content-around row">
                {% for plato in carta %}
                    {% if plato.subCategoria.nombre == subcategoria.nombre %}
                        {% if plato.controlStock and plato.stock < 10%}
                        <div class="plato platos col-5 col-md-5 col-lg-5  " style="--background-url: url('{{ plato.imagen.url }}');"  data-category="{{subcategoria.nombre}}" data-toggle="modal" data-target="#platoModal" data-nombre="{{plato.nombre}}" data-descripcion="{{plato.descripcion}}" data-precio="{{plato.precio}}" data-imagen="{{plato.imagen.url}}" class="plato" data-id="{{plato.id}}" data-url-modificar="{% url 'cartaModif' plato.id %}" data-url-eliminar="{% url 'cartaBorrar' plato.id %}" data-controlstock="{{plato.controlStock}}" data-stock="{{plato.stock}}">
                            <div>
                                <h3 class="titulo_plato"><b>{{plato.nombre}}</b></h3>
                                {% if plato.descripcion%}
                                    <p class="descripcion_sub">{{plato.descripcion}}</p>
                                {% else %}
                                    <p class="descripcion_sub"></p>
                                {% endif %}
                                {% if plato.controlStock%}
                                    <p class="descripcion_sub">Stock: {{plato.stock}}</p>
                                {% endif %}
                                <p>${{plato.precio}}</p>
                                
                            </div>
                            {% if perms.miAplicacion.change_carta %}
                                <div class="d-flex justify-md-content-center justify-content-start">
                                    <a href="{% url 'cartaModif' plato.id %}" class="btn btn-primary btn-sm text-white text-decoration-none mb-2">Modificar</a>
                                    <a href="{% url 'cartaBorrar' plato.id %}" class="btn btn-danger btn-sm text-white text-decoration-none mb-2">Eliminar</a>
                                </div>
                            {% endif %}
                        </div>
                        {% else %}
                            <div class="plato platos col-5 col-md-5 col-lg-5  " style="--background-url: url('{{ plato.imagen.url }}');" data-category="{{subcategoria.nombre}}" data-toggle="modal" data-target="#platoModal" data-nombre="{{plato.nombre}}" data-descripcion="{{plato.descripcion}}" data-precio="{{plato.precio}}" data-imagen="{{plato.imagen.url}}" class="plato" data-id="{{plato.id}}" data-url-modificar="{% url 'cartaModif' plato.id %}" data-url-eliminar="{% url 'cartaBorrar' plato.id %}" data-controlstock="{{plato.controlStock}}" data-stock="{{plato.stock}}">
                                <div>
                                    <h3 class="titulo_plato"><b>{{plato.nombre}}</b></h3>
                                    {% if plato.descripcion%}
                                        <p class="descripcion_sub">{{plato.descripcion}}</p>
                                    {% else %}
                                        <p class="descripcion_sub"></p>
                                    {% endif %}
                                    {% if plato.controlStock%}
                                        <p class="descripcion_sub">Stock: {{plato.stock}}</p>
                                    {% endif %}
                                    <p>${{plato.precio}}</p>
                                    
                                </div>
                                {% if perms.miAplicacion.change_carta %}
                                    <div class="d-flex justify-md-content-center justify-content-start">
                                        <a href="{% url 'cartaModif' plato.id %}" class="btn btn-primary p-md-2 btn-sm text-white text-decoration-none mb-2">Modificar</a>
                                        <a href="{% url 'cartaBorrar' plato.id %}" class="btn btn-danger p-md-2 btn-sm text-white text-decoration-none mb-2">Eliminar</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
    
            <div class="modal fade" id="platoModal" tabindex="-1" role="dialog" aria-labelledby="platoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="platoModalLabel">Detalles del Plato</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <h1 class="modal-titulo"></h1>
                            <p class="modal-descripcion"></p>
                            <p class="modal-precio"></p>
                            <p class="modal-stock"></p> <!-- Añadido para mostrar el stock -->
                            <img src="" alt="" class="modal-imagen img-fluid">
                        </div>
                        <div class="modal-footer botones-modal">
                            {% if perms.miAplicacion.change_carta %}
                                <a href="#" id="modal-modificar" class="btn btn-primary btn-sm text-white text-decoration-none">Modificar</a>
                                <a href="#" id="modal-eliminar" class="btn btn-danger btn-sm text-white text-decoration-none">Eliminar</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            
            
        
    {% endfor %}
</div>

{% comment %} Scripts que actualiza los platos mostrados segun lo seleccionado {% endcomment %}


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        const filterLinks = document.querySelectorAll('.filter-link');
        const platos = document.querySelectorAll('.plato');
    
        filterLinks.forEach(link => {
            link.addEventListener('click', (event) => {
                event.preventDefault();  // Evitar el comportamiento por defecto del enlace
                const selectedCategory = event.target.getAttribute('data-category');
    
                platos.forEach(plato => {
                    if (selectedCategory === 'todas' || plato.getAttribute('data-category') === selectedCategory) {
                        plato.style.display = 'block';
                        
                    } else {
                        plato.style.display = 'none';
                    }
                });
            });
        });
    });
    let currentIndex = 0;

    function moveCarousel(direction) {
        const container = document.querySelector('.carousel-container');
        const items = document.querySelectorAll('.carousel-container .filter-link');
        const itemWidth = items[0].clientWidth + 35.2; // Ancho del ítem + margen
        const visibleWidth = document.querySelector('.carousel').clientWidth;
        const totalWidth = itemWidth * items.length;

        currentIndex += direction;

        const maxIndex = Math.ceil((totalWidth - visibleWidth) / itemWidth);
        if (currentIndex < 0) {
            currentIndex = 0;
        }
        if (currentIndex > maxIndex) {
            currentIndex = maxIndex;
        }

        const offset = currentIndex * itemWidth;

        container.style.transform = `translateX(-${offset}px)`;
    }

    
    document.addEventListener('DOMContentLoaded', function () {
        const descripcion = document.querySelectorAll('.descripcion_sub');
        descripcion.forEach(desc => {
            const maxLength = 15; // Número máximo de caracteres antes de reducir el tamaño de la fuente
            if (desc.textContent.length > maxLength) {
                desc.style.fontSize = '10px'; // Ajusta el tamaño de la fuente si es necesario
            }
        });
    });

    


    $('#platoModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Botón que activó el modal
        var id = button.data('id'); // Extrae la información de los atributos data-*
        var nombre = button.data('nombre');
        var descripcion = button.data('descripcion');
        var precio = button.data('precio');
        var imagen = button.data('imagen');
        var urlModificar = button.data('url-modificar');
        var urlEliminar = button.data('url-eliminar');
        var controlStock = button.data('controlstock'); // Extrae el valor de controlStock
        var stock = button.data('stock'); // Extrae el valor del stock
    
        // Actualiza el contenido del modal
        var modal = $(this);
        modal.find('.modal-titulo').text(nombre);
        modal.find('.modal-precio').text('Precio: $' + precio);
        modal.find('.modal-imagen').attr('src', imagen);
    
        // Muestra la descripción solo si no es None o está vacía
        if (descripcion && descripcion !== 'None') {
            modal.find('.modal-descripcion').text(descripcion).show();
        } else {
            modal.find('.modal-descripcion').hide();
        }
    
        // Muestra el stock solo si controlStock es True
        if (controlStock === true || controlStock === 'True') { // Comprobar si es true o cadena 'True'
            modal.find('.modal-stock').text('Stock: ' + stock).show();
        } else {
            modal.find('.modal-stock').hide();
        }
    
        // Actualiza los enlaces de los botones en el modal
        modal.find('#modal-modificar').attr('href', urlModificar);
        modal.find('#modal-eliminar').attr('href', urlEliminar);
    });
    
    
    
</script>

{% endblock %}

