{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table table-light m-5 shadow-sm">
        <thead class="bg-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Dirección</th>
            <th scope="col">
            action
            </th>
          </tr>
        </thead>
        <tbody>
            {% for c in clientes%}
              <tr>
                <td>{{c.id}}</td>
                <td>{{c.nombre}}</td>
                <td>{{ c.telefono|default_if_none:"-----" }}</td>
                <td>{{c.direccion | default_if_none:"-----"}}</td>
                <td class="d-flex justify-content-end gap-1">
                  <button class="btn btn-sm btn-primary"><a href="/clientes/clienteModif/{{ c.id }}" class="text-white text-decoration-none">Modificar</a></button>
                  <button class="btn btn-sm btn-danger"><a href="/clientes/clienteBorrar/{{ c.id }}" class="text-white text-decoration-none">Eliminar</a></button>
                </td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href={% url "clienteNuevo" %} class="customButton">+</a>
</div>
{% endblock %}