{% extends "base.html" %}
{% block estilos %}
<style>
    .titulo {
        font-size: 3rem;
        color: #2c3e50;
        text-align: center;
        margin-bottom: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: 1px;
    }
    
    .descripcion, .precio, .categoria {
        font-size: 1.125rem;
        color: #7f8c8d;
        margin-bottom: 0.75rem;
    }
    
    .img-fluid {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        margin-top: 1.5rem;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 12px;
    }
    
    .botones-container {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 1.5rem;
    }
    
    .btn {
        display: inline-block;
        font-size: 1rem;
        padding: 0.75rem 1.5rem;
        border-radius: 50px;
        transition: background-color 0.4s ease, transform 0.4s ease;
        margin: 0;
    }
    
    .btn-primary {
        background-color: #2980b9;
        border: none;
    }
    
    .btn-primary:hover {
        background-color: #1abc9c;
        transform: translateY(-3px);
    }
    
    .btn-danger {
        background-color: #e74c3c;
        border: none;
    }
    
    .btn-danger:hover {
        background-color: #c0392b;
        transform: translateY(-3px);
    }
    
    .btn-secondary {
        background-color: #95a5a6;
        border: none;
    }
    
    .btn-secondary:hover {
        background-color: #7f8c8d;
        transform: translateY(-3px);
    }
    
    .btn a {
        color: #fff;
        text-decoration: none;
    }
    
    .w-100 {
        width: 100%;
    }

    /* Estilo adicional para mejorar el diseño */
    .container {
        max-width: 800px;
        margin-bottom:70px;
        padding: 15px;
        background-color: #ecf0f1;
        border-radius: 15px;
    }

    .col-12 {
        padding: 0;
    }

    .rounded {
        border-radius: 10px;
    }

    .shadow-sm {
        box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    }
</style>
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 border shadow-sm p-4 mb-4 bg-white rounded">
                <h1 class="titulo">{{ carta.nombre }}</h1>
                <p class="descripcion">{{ carta.descripcion }}</p>
                <p class="precio">Precio: ${{ carta.precio }}</p>
                <p class="categoria">Categoría: {{ carta.categoria.nombre }}, {{ carta.subCategoria.nombre }}</p>
                <img src="{{ carta.imagen.url }}" alt="" class="img-fluid rounded">
            </div>
        
            <div class="col-12 d-flex justify-content-start gap-2 botones-container">
                {% if perms.miAplicacion.change_carta %}
                    <a href="{% url 'cartaModif' carta.id %}" class="btn btn-primary text-white text-decoration-none w-100">Modificar</a>
                    <a href="{% url 'cartaBorrar' carta.id %}" class="btn btn-danger text-white text-decoration-none w-100">Eliminar</a>
                {% endif %}
                <a href="{% url 'listaCarta' %}" class="btn btn-secondary text-white text-decoration-none w-100">Volver</a>
            </div>
        </div>
    </div>
{% endblock %}

