{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>{{cliente.nombre}}</h1>
            <p>{{cliente.telefono}}</p>
            <p>{{cliente.direccion}}</p>
        </div>
        <div class="col-12 d-flex justify-content-start gap-1">
            {% if perms.miAplicacion.change_carta %}
            <button class="btn btn-sm btn-primary">
                <a href="{% url 'clienteModificar' cliente.id %}" class="text-white text-decoration-none bg-primary">Modificar</a>
            </button>
            <button class="btn btn-sm btn-danger">
                <a href="{% url 'clienteBorrar' cliente.id %}" class="text-white text-decoration-none bg-danger">Eliminar</a>
            </button>
            {% endif %}
            <button class="btn btn-sm btn-danger">
                <a href="{% url "listaClientes" %}" class="text-white text-decoration-none bg-danger">Volver</a>
            </button>
        </div>
    </div>


{% endblock %}