{% extends "base.html" %}
{% block estilos %}
<style>
    /* Imagen que va en el fondo del div que contiene el titulo */ 
    .cont {
        position: relative;
        padding: 20px; /* Ajusta según sea necesario */
        border-radius: 10px; /* Ajusta según sea necesario */
        overflow: hidden; /* Asegura que el contenido no se desborde */
        color: white;
        /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
    }
    
    .cont::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../media/estilos_h1/facturas.jpg"); /* Reemplaza con la ruta de tu imagen */
        background-size: cover;
        background-position: center;
        filter: blur(4px); /* Ajusta el valor del desenfoque según sea necesario */
        z-index: -1;
    }
    .titulo{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .btn-primary {
        background-color: #007bff; /* Color de fondo del botón primario */
        border: none; /* Sin borde */
    }
    
    .btn-primary:hover {
        background-color: #0056b3; /* Color de fondo del botón primario al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
    }
    .btn-danger {
        background-color: #dc3545; /* Color de fondo del botón de peligro */
        border: none; /* Sin borde */
    }
    
    .btn-danger:hover {
        background-color: #c82333; /* Color de fondo del botón de peligro al pasar el cursor */
        transform: translateY(-2px); /* Efecto de elevación */
    }
    /*Estilos para el mensaje de error que aparece al cobrar y no cubrir el monto */
    .alert-errors {
        list-style: none;
        padding: 0;
        margin: 20px 0;
        background: #FFCCCC;
        border-left: 5px solid #C1121F;
        border-radius: 5px;
        color: #C1121F;
        font-size: 16px;
        padding: 10px 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    .alert-errors ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    
    .alert-errors li {
        margin-bottom: 5px;
        display: flex;
        align-items: center;
    }
    .alert-errors li span{
        text-align: left;
        font-weight: bold;
    }
    .icon-error {
        font-weight: bold;
        color: #C1121F;
        margin-right: 8px;
    }
    
</style>
{% endblock %}
{% block content %}
<div class="container mb-5">
    <div class="cont mb-1">
        <h3 class="display-4 titulo">Factura</h3>
    </div>
    <!-- Inicio del formulario -->
    <form method="post" class="row">
        {% csrf_token %}

        <!-- Este maneja el error delcarado en views, y le damos un estilo en style -->
        {% if factura_form.non_field_errors %}
        <div class="alert-errors m-1">
            <ul>
                {% for error in factura_form.non_field_errors %}
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" class="icon-error" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    <span>{{ error }}</span>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}


        <!-- Campo de cliente -->
        <div class="col mb-3">
            <label for="id_id_cliente">Cliente:</label>
            {{ factura_form.id_cliente }}
        </div>
        <hr>
        {{ formset_orden.management_form }}
        <div id="select_container" class="row">
            {% for form in formset_orden %}
            <div class="col-6 col-md-4 mb-4">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div id="pago_container" class="row">
        {{ formset_pago.management_form }}
        {% for form in formset_pago %}
        <div class="col-6 col-md-4 mb-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="form-group">
                        {{ form.as_p }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <hr>
        <div class="row mb-3">
            <div class="col">
                <label for="id_total">Total:</label>
                {{ factura_form.total }}
            </div>
            <div class="col">
                <label for="id_total_pago">Total Pago:</label>
                {{ factura_form.total_pago }}
            </div>
            <div class="col">
                <label for="id_vuelto">Vuelto:</label>
                {{ factura_form.vuelto }}
            </div>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary mb-3">Guardar</button>
            <a href="{% url "listaFacturas" %}" class="btn btn-danger mb-3">Cancelar</a>
        </div>
    </form>
</div>


<script>
    // Obtener el contenedor de los select ordenes
    const contenedor_select = document.getElementById('select_container');
    const selects = contenedor_select.getElementsByTagName('select');
    const input_total = document.getElementById("id_total");
    const inputs_check = contenedor_select.querySelectorAll('input[type="checkbox"]');
    const input_cliente = document.getElementById("id_id_cliente");
    // Obtener el contenedor de los select tipo pagos
    const contenedor_pago = document.getElementById('pago_container');
    const selects_pago = contenedor_pago.getElementsByTagName('select');
    const input_totalPago = document.getElementById("id_total_pago");
    const inputs_checkPago = contenedor_pago.querySelectorAll('input[type="checkbox"]');
    const inputs_pago = contenedor_pago.querySelectorAll('input[type="number"]');
    const input_vuelto = document.getElementById("id_vuelto");

    // Función para actualizar las opciones disponibles en cada select
    function updateOptions() {
        let selectedValues = [];

        // Obtener los valores seleccionados actualmente
        for (let i = 0; i < selects.length; i++) {
            selectedValues.push(selects[i].value);
        }

        // Actualizar las opciones de cada select
        for (let i = 0; i < selects.length; i++) {
            let options = selects[i].options;

            for (let j = 0; j < options.length; j++) {
                if (options[j].value === "" || !selectedValues.includes(options[j].value) || selects[i].value === options[j].value) {
                    options[j].style.display = '';
                } else {
                    options[j].style.display = 'none';
                }
            }
        }
    };
    //FUNCION DEL SELECT DE ORDENES 
    function updateSelectOrden() {
        input_total.value = 0;
        for (let i = 0; i < selects.length; i++) {
            selects[i].innerHTML = '';
            let options = {{ordenes_select | safe}}; 
            // Agregar las nuevas opciones segun la categoria seleccionada
            options.forEach(option => {
                // Crea la opcion que compondra el select
                const newOption = document.createElement('option');
                // Proporciona el valor al option
                newOption.value = option["value"];
                // Proporciona el texto al option
                newOption.text = option["text"];
                // Agrega el option al select
                selects[i].appendChild(newOption);
            });
        }
    };
    function updateSelectOrden2() {
        for (let i = 0; i < selects.length; i++) {
            // Verificar si el select no tiene un valor seleccionado
            if (selects[i].value === "") {
                selects[i].innerHTML = '';
                let options = {{ordenes_select | safe}};
                // Agregar las nuevas opciones segun la categoria seleccionada
                options.forEach(option => {
                    // Crea la opción que compondrá el select
                    const newOption = document.createElement('option');
                    // Proporciona el valor al option
                    newOption.value = option["value"];
                    // Proporciona el texto al option
                    newOption.text = option["text"];
                    // Agrega el option al select
                    selects[i].appendChild(newOption);
                });
            }
        }
    }
    function sumaTotal() {
        let total = 0;
        for (let a = 0; a < selects.length; a++) {
            if (!inputs_check[a].checked){
                {% for orden in ordenes %}
                if (selects[a].value == {{ orden.id | safe }}) {
                    total += {{ orden.total | safe }};
                };
                {% endfor %}
            };
            
        };
        input_total.value = total;
        
    };
    function sumaTotalPago() {
        let total = 0;
        for (let a = 0; a < selects_pago.length; a++) {
            // Verificar que el valor de inputs_pago[a] es un número válido
            let valor = parseFloat(inputs_pago[a].value);
            if (!inputs_checkPago[a].checked && selects_pago[a].value != "" && !isNaN(valor)) {
                total += valor;
            }
        }
        // Establecer el valor solo si es un número válido
        if (!isNaN(total)) {
            input_totalPago.value = total;
        } else {
            console.error("El total calculado no es un número válido.");
        }
    }
    function totalVuelto(){
        let total_factura = parseFloat(input_total.value);
        let total_pago = parseFloat(input_totalPago.value);
        
        // Verificar que los valores son números válidos
        if (!isNaN(total_factura) && !isNaN(total_pago)) {
            if (total_pago > total_factura) {
                let resultado = total_pago - total_factura;
                input_vuelto.value = resultado;
            } else {
                let resultado = 0;
                input_vuelto.value = resultado;
            }
        }
    }


    // Añadir evento onchange a cada select para actualizar las opciones cuando cambie un valor
    {% comment %} for (let i = 0; i < selects.length; i++) {
        // Agregado funciones a componentes del container de ordenes
        if (selects[i]){
            selects[i].setAttribute('class', "form-control");
            selects[i].addEventListener('change', updateOptions);
            selects[i].addEventListener('change', sumaTotal);
        };
        if (inputs_check[i]){

        };
        inputs_check[i].addEventListener('change', sumaTotal);
        // Agregado funciones a componentes del container de tipo de pago
        selects_pago[i].addEventListener('change', sumaTotalPago);
        inputs_pago[i].addEventListener('change', sumaTotalPago);
        inputs_checkPago[i].addEventListener('change', sumaTotalPago);
        selects_pago[i].addEventListener('change', totalVuelto);
        inputs_pago[i].addEventListener('change', totalVuelto);
        inputs_checkPago[i].addEventListener('change', totalVuelto);
        
    } {% endcomment %}
     // Añadir evento onchange a cada select para actualizar las opciones cuando cambie un valor
     for (let i = 0; i < selects.length; i++) {
        // Agregado funciones a componentes del container de ordenes
        selects[i].setAttribute('class', "form-control");
        selects[i].addEventListener('change', updateOptions);
        selects[i].addEventListener('change', sumaTotal);
        if (inputs_check[i]) {
            inputs_check[i].addEventListener('change', sumaTotal);
        }
    }

    // Agregar eventos a los select y inputs de pago
    for (let i = 0; i < selects_pago.length; i++) {
        if (selects_pago[i]) {
            selects_pago[i].addEventListener('change', sumaTotalPago);
            selects_pago[i].addEventListener('change', totalVuelto);
        }
        if (inputs_pago[i]) {
            inputs_pago[i].addEventListener('change', sumaTotalPago);
            inputs_pago[i].addEventListener('change', totalVuelto);
        }
        if (inputs_checkPago[i]) {
            inputs_checkPago[i].addEventListener('change', sumaTotalPago);
            inputs_checkPago[i].addEventListener('change', totalVuelto);
        }
    }
    

    // Llamar la función al cargar la página para aplicar los cambios iniciales
    updateSelectOrden2(); 
    updateOptions();
</script>

{% endblock %}