{% extends "base.html" %}
{% block content %}



    <div class="container m-5">
        <h3 class="display-4 my-3">Factura</h3>
        <form method="post" class="row">
            {% csrf_token %}
            {{ factura_form.as_p }}
            {{ formset.management_form }}
            {% for form in formset %}
                {{ form.as_p }}
            {% endfor %}
            <div class="col">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button class="btn btn-primary"><a href={% url "listaFacturas" %} class="text-decoration-none text-white">Cancelar</a></button>
            </div>
        </form>
    </div>

{% endblock %}