{% extends "base.html" %}
{% block content %}



<div class="container">
    <h3 class="display-4 my-3">Carta</h3>
    <form method="post" enctype="multipart/form-data" id="formulario">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary mb-3" type="submit">Guardar</button>
        <a class="btn btn-outline-primary mb-3" href="{% url 'listaCarta' %}">Cancelar</a>
    </form>
</div>
<br/>
<script>
    function updateSelect2() {
        const select1 = document.getElementById('id_categoria');
        const select2 = document.getElementById('id_subCategoria');
        const selectedValue = select1.value;

        // Limpiar opciones anteriores
        select2.innerHTML = '';
        var miLista = {{ opcionesPlato|safe }};
        let options = [];
        console.log(selectedValue);
        console.log(miLista);
        if (selectedValue == 1) {
            options = {{ opcionesPlato|safe }};
        } if (selectedValue == 2) {
            options = {{ opcionesBebida|safe }};
        }else if (selectedValue == 3) {
            options = {{ opcionesPostre|safe }};
        };

        // Agregar nuevas opciones
        options.forEach(option => {
            const newOption = document.createElement('option');
            newOption.value = option;
            newOption.text = option;
            select2.appendChild(newOption);
        });
    }
</script>
{% endblock %}