{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="display-4 my-3">Postre</h3>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ postre.nombre }}" required>
            </div>
            <div class="mb-3">
                <label for="precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" value="{{ postre.precio }}" required>
            </div>
            <div class="mb-3">
                <label for="cantidad" class="form-label">Cantidad:</label>
                <input type="number" class="form-control" id="cantidad" name="cantidad" value="{{ postre.cantidad }}" required>
            </div>

            <!-- Aquí incluimos el formulario generado dinámicamente, si es necesario -->
            {{ form.as_p }}

            <!-- Botón de guardar y enlace de cancelar -->
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Guardar</button>
                <a class="btn btn-outline-primary" href="{% url 'listaMozos' %}">Cancelar</a>
            </div>
        </form>
    </div>

{% endblock %}
