{% extends "base.html" %}
{% block content %}



    <div class="container">
        <h3 class="display-4 my-3">Mesa</h3>
        <form method="post" class="row">
            {% csrf_token %}
            <div class="col-4">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ mesa.nombre }}" required><br>
            <div class="col"><button type="submit" class="btn btn-primary">Guardar</button></div>
        </form>
    </div>

{% endblock %}