{% extends "base.html" %}
{% block content %}



    <div class="container m-5">
        <h3 class="display-4 my-3">Orden</h3>
        <form method="post" class="row">
            {% csrf_token %}
            {{ orden_form.as_p }}
            {{ formset.management_form }}
            <div id="select_container">
                {% for form in formset %}
                    {{ form.as_p }}
                {% endfor %}
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <button class="btn btn-primary"><a href={% url "listaOrdenes" %} class="text-decoration-none text-white">Cancelar</a></button>
            </div>
        </form>
    </div>
    <script>
        // ACTUALIZAR LOS VALORES DEL PRIMER SELECT AL HACER CLICK EN EL INPUT DE PRECIO
        //Obtenemos el elemento input de precio donde vamos a agregar el evento click
        const contenedor_select = document.getElementById('select_container');
        // Obtenemos los select seleccionados en el contenedor padre
        const selects = contenedor_select.getElementsByTagName('select');
        const inputs = contenedor_select.getElementsByTagName('input');
        for (let i = 0; i < selects.length; i++) {
            selects[i].setAttribute('class', "form-control");
        };
    
        // EVENTO CLICK EN EL INPUT PRECIO 

    
    </script>
{% endblock %}