{% extends "base.html" %}
{% block estilos %}
<style>
    /* Estilos del contenedor con imagen de fondo */
    .cont {
        position: relative;
        padding: 20px;
        border-radius: 10px;
        overflow: hidden;
        color: white;
    }
    .cont::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../media/estilos_h1/ordenes.jpg");
        background-size: cover;
        background-position: center;
        filter: blur(4px);
        z-index: -1;
    }
    .titulo {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .btn-primary {
        background-color: #007bff;
        border: none;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        transform: translateY(-2px);
    }
    .btn-danger {
        background-color: #dc3545;
        border: none;
    }
    .btn-danger:hover {
        background-color: #c82333;
        transform: translateY(-2px);
    }
</style>
{% endblock %}

{% block content %}
<div class="container mb-5">

    <div class="cont mb-3">
        <h3 class="display-4 titulo">Orden</h3>
    </div>

    <form method="post" class="row">
        {% csrf_token %}
        <div class="col mb-3">
            <label for="id_id_mozo">Mozo:</label>
            {{ orden_form.id_mozo }}
        </div>
        <div class="col mb-3">
            <label for="id_id_mesa">Mesa:</label>
            {{ orden_form.id_mesa }}
        </div>
        <div class="col mb-3">
            <label for="id_entregado">Entregado</label>
            {{ orden_form.entregado }}
        </div>
        <div class="col-12 mb-3">
            <label for="id_observacion">Observación:</label>
            {{ orden_form.observacion }}
        </div>
        {{ formset.management_form }}

        <div class="row" id="select_container">
            {% for form in formset %}
                <div class="col-6 col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="col-11 col-md-4 mb-3">
            <label for="id_total">Total:</label>
            {{ orden_form.total }}
        </div>


        <div class="col-12 mb-3">
            <button type="submit" class="btn btn-primary mb-3">Guardar</button>
            <a href="{% url 'listaOrdenes' %}" class="btn btn-danger mb-3">Cancelar</a>
        </div>
    </form>
</div>


<script>
    const input_total = document.getElementById("id_total");
    const contenedor_select = document.getElementById('select_container');
    const selects_platos = contenedor_select.getElementsByTagName('select');
    const inputs = contenedor_select.querySelectorAll('input[type="number"]');
    const inputs_check = contenedor_select.querySelectorAll('input[type="checkbox"]');
    
    function updateOptions() {
        let selectedValues = [];
        for (let i = 0; i < selects_platos.length; i++) {
            selectedValues.push(selects_platos[i].value);
        }
        for (let i = 0; i < selects_platos.length; i++) {
            let options = selects_platos[i].options;
            for (let j = 0; j < options.length; j++) {
                if (options[j].value === "" || !selectedValues.includes(options[j].value) || selects_platos[i].value === options[j].value) {
                    options[j].style.display = '';
                } else {
                    options[j].style.display = 'none';
                }
            }
        }
    }

    function updateInputsCantidad() {
        let total = 0;
        for (let a = 0; a < selects_platos.length; a++) {
            if (!inputs_check[a].checked) {
                {% for plato in platos %}
                if (selects_platos[a].value == {{ plato.id|safe }}) {
                    total += inputs[a].value * {{ plato.precio|safe }};
                }
                {% endfor %}
            }
        }
        input_total.value = total;
        console.log(input_total.value);
    }

    for (let i = 0; i < selects_platos.length; i++) {
        selects_platos[i].setAttribute('class', "form-control");
        selects_platos[i].addEventListener('change', updateOptions);
        inputs[i].addEventListener('change', updateInputsCantidad);
        inputs_check[i].addEventListener('click', updateInputsCantidad);
    }

    function updateSelectMesa() {
        const select_mesa = document.getElementById("id_id_mesa");
        select_mesa.innerHTML = '';
        let options = {{ mesas|safe }};
        options.forEach(option => {
            const newOption = document.createElement('option');
            newOption.value = option["value"];
            newOption.text = option["text"];
            select_mesa.appendChild(newOption);
        });
    }

    updateSelectMesa();
    updateOptions();
</script>
{% endblock %}

