{% extends "base.html" %}
{% block estilos %}
<style>
    /* Imagen que va en el fondo del div que contiene el titulo */ 
    .cont {
        position: relative;
        padding: 20px; 
        border-radius: 10px; 
        overflow: hidden; 
        color: white;
        /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);*/
    }
    
    .cont::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("../../../media/estilos_h1/mesas.jpg");
        background-size: cover;
        background-position: center;
        filter: blur(4px);
        z-index: -1;
    }
    .titulo{
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    }
    .btn-primary {
        background-color: #007bff; 
        border: none;
    }
    
    .btn-primary:hover {
        background-color: #0056b3; 
        transform: translateY(-2px);
    }
    .btn-danger {
        background-color: #dc3545; 
        border: none; 
    }
    
    .btn-danger:hover {
        background-color: #c82333; 
        transform: translateY(-2px); 
    }
</style>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="cont mb-1">
            <h3 class="display-4 titulo">Mesa</h3>
        </div>
        <form method="post" class="row">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="col">
                <button type="submit" class="btn btn-primary mb-3">Guardar</button>
                <a href={% url "listaMesas" %} class="btn btn-danger mb-3">Cancelar</a>
            </div>
        </form>
    </div>
{% endblock %}