{% extends "base.html" %}
{% block estilos %}
<style>
    .label-block {
      display: block;
    }
  </style>
  
{% endblock %}
{% block content %}


    <h3 class="display-4 my-3">Orden</h3>
    <form method="post">
        {% csrf_token %}
        {{ orden_form.as_p }}
        {{ formset.management_form }} 
        <table class="table table-ligth mt-2 mb-2" id="select_container">
            <thead class="bg-light table-danger">
                <tr>
                    <td>Plato</td>
                    <td>Cantidad</td>
                    <td>Borrar</td>
                </tr>
            </thead>
            {% for form in formset %}
            <tbody>
                <tr>
                    <td>{{ form.id_carta }}</td>
                    <td>{{ form.cantidad }}</td>
                    <td>{{ form.DELETE }}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
        <!-- <div id="select_container" class="row">
            {% for form in formset %}
                    <div class="col-5 ">
                        <label for="carta">Plato</label>
                        {{ form.id_carta }}
                    </div>
                    <div class="col-5 ">
                        <label for="cant">Cantidad</label>
                        {{ form.cantidad }}
                    </div>
                    <div class="col-2 ">
                        {{ form.DELETE }}
                    </div>
            {% endfor %}
        </div> -->
        <div class="col">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button class="btn btn-primary">
                <a href={% url "listaOrdenes" %} class="text-decoration-none text-white">Cancelar</a>
            </button>
        </div>
    </form>


<script>
    // Obtenemos el input total
    const input_total = document.getElementById("id_total");
    // Obtenemos el contenedor de los selects y los selects dentro del formset
    const contenedor_select = document.getElementById('select_container');
    const selects_platos = contenedor_select.getElementsByTagName('select');
    const inputs = contenedor_select.querySelectorAll('input[type="number"]');
    const inputs_check = contenedor_select.querySelectorAll('input[type="checkbox"]');

    // Función para actualizar las opciones disponibles en cada select
    function updateOptions() {
        let selectedValues = [];

        // Obtener los valores seleccionados actualmente
        for (let i = 0; i < selects_platos.length; i++) {
            selectedValues.push(selects_platos[i].value);
        }

        // Actualizar las opciones de cada select
        for (let i = 0; i < selects_platos.length; i++) {
            let options = selects_platos[i].options;

            for (let j = 0; j < options.length; j++) {
                if (options[j].value === "" || !selectedValues.includes(options[j].value) || selects_platos[i].value === options[j].value) {
                    options[j].style.display = '';
                } else {
                    options[j].style.display = 'none';
                }
            }
        }
    };
    function updateInputsCantidad() {
        let total = 0;
        for (let a = 0; a < selects_platos.length; a++) {
            if (!inputs_check[a].checked){
                {% for plato in platos %}
                if (selects_platos[a].value == {{ plato.id | safe }}) {
                    total += inputs[a].value * {{ plato.precio | safe }};
                };
                {% endfor %}
            };
            
        };
        input_total.value = total;
        console.log(input_total.value)
    };


    // Añadir evento onchange a cada select para actualizar las opciones cuando cambie un valor
    for (let i = 0; i < selects_platos.length; i++) {
        selects_platos[i].setAttribute('class', "form-control");
        selects_platos[i].addEventListener('change', updateOptions);
        
        // Añadir evento para calcular el total cuando se haga clic en el input de precio
        inputs[i].addEventListener('change', updateInputsCantidad);
        inputs_check[i].addEventListener('click', updateInputsCantidad);
    }
    //FUNCION DEL SELECT DE MESAS
    function updateSelectMesa() {
        const select_mesa = document.getElementById("id_id_mesa");
        select_mesa.innerHTML = '';
        let options = {{mesas | safe}};


        // Agregar las nuevas opciones segun la categoria seleccionada
        options.forEach(option => {
            // Crea la opcion que compondra el select
            const newOption = document.createElement('option');
            // Proporciona el valor al option
            newOption.value = option["value"];
            // Proporciona el texto al option
            newOption.text = option["text"];
            // Agrega el option al select
            select_mesa.appendChild(newOption);
        });
    };
    // Llamar la función al cargar la página para aplicar los cambios iniciales

    updateSelectMesa();
    updateOptions();
</script>

{% endblock %}
