{% extends "base.html" %}
{% block content %}


    <h3 class="display-4 my-3">Cierre</h3>
    <table class="table table-light shadow-sm table-responsive">
        <thead class="bg-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Cliente</th>
            <th scope="col">Total Ordenes</th>    
            <th scope="col">Total Pagado</th> 
            <th scope="col">Vuelto</th>    
          </tr>
        </thead>
        <tbody>
            {% for f in facturas %}
            <tr>
              <td>{{f.id}}</td>
              <td>{{f.fecha}}</td>
              <td>{{f.id_cliente.nombre}}</td>
              <td>{{f.total}}</td>
              <td>{{f.total_pago}}</td>
              <td>{{f.vuelto}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="select_container" class="row">
            {% for form in formset %}
                <div class="col-4">{{ form.as_p }}</div>
            {% endfor %}
        </div>
        <div class="col">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <button class="btn btn-primary">
                <a href={% url "listaCierres" %} class="text-decoration-none text-white">Cancelar</a>
            </button>
        </div>
    </form>
    <script>
        const input_total_ordenes = document.getElementById("id_total_ordenes");
        const input_total_facturas = document.getElementById("id_total_facturas");
        const input_vuelto = document.getElementById("id_vuelto");
        const facturas = {{facturas_js | safe}}

        function sumaTotal() {
            let total_ordenes = 0;
            let total_facturas = 0;
            let vuelto = 0;
            for (let a = 0; a < facturas.length; a++) {
                total_ordenes += facturas[a]["total"];
                total_facturas += facturas[a]["total_pago"];
                vuelto += facturas[a]["vuelto"];
                
            };
            input_total_ordenes.value = total_ordenes;
            input_total_facturas.value = total_facturas;
            input_vuelto.value = vuelto;
        };
        sumaTotal();
    </script>




{% endblock %}
