{% extends "base.html" %}
{% block content %}



    <div class="container">
        <h3 class="display-4 my-3">Plato</h3>
        <form method="post" class="row d-flex align-items-center">
            {% csrf_token %}
            <div class="col-5">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" value="{{ plato.nombre }}" required><br>
            </div>
            <div class="col-5">
                <label for="precio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="precio" name="precio" value="{{ plato.precio }}" required><br>
            </div>
            <div class="col-2 mt-2 d-flex">
                <button type="submit" class="btn btn-primary m-1">Guardar</button>
                <button class="btn btn-primary m-1"><a href={% url "listaPlatos" %} class="text-decoration-none text-white">Cancelar</a></button>
            </div>

        </form>
    </div>

{% endblock %}