/* estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
  }
  
  header {
    background-color:#C1121F;
    border: solid, 5px, #FFFFFA;
  }
  header #btnMenu, header label {
    display: none;
  }
  header .logoMenu {
    display: none;
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    align-items: center;
    margin-bottom: 0px;
    text-decoration: none;
  }
  header nav ul img {
    width: 150px;
  }
  header nav ul {
    padding: 10px;
    font-size: 20px;
  }
  header nav ul a {
    text-decoration: none;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
  header nav ul a:hover {
    text-decoration: underline #FFFFFA;
    color: #FFFFFA;
  }

  /* Logo */
.logo, .logo-offcanvas {
  max-width: 100%;
  height: auto;
}

/* Botón del Menú */
.menu-icon {
  width: 30px;
  height: 30px;
}

/* Offcanvas Styles */
.offcanvas {
  background-color: white;
  color: #fff; 
  border-left: 2px solid #ff4757; 
}

.offcanvas .offcanvas-header {
  border-bottom: 1px solid #ff4757; 
}

.offcanvas .offcanvas-body {
  padding: 20px;
}

.offcanvas .navbar-nav .nav-item {
  margin-bottom: 15px;
}

.nav-link {
  color: #ff4757; 
  font-weight: bold;
  font-size: 1.1rem;
  transition: color 0.3s ease-in-out;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgba(255, 71, 87, 0.2);
}

.nav-link:hover {
  color: #fff;
  background-color: rgba(255, 71, 87, 0.4);
}

.nav-link:visited {
  color: #ff4757; 
}

.btn-close {
  position: relative;
  width: 30px;
  height: 30px;
  background-color: #ff4757;
  border: none;
  color: white; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-close::before,
.btn-close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 2px;
  background-color: white; 
}

.btn-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.btn-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-close:hover {
  background-color: #d90429;
  transform: scale(1.1); 
}

/* Boton cierre de sesion */

.logout-btn {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}


.logout-btn a {
  color: white !important; 
  text-decoration: none; 
}

.logout-btn a:hover {
  color: white !important; 
}

.logout-btn:hover {
  background-color: white;
}

.user-info {
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 5px 10px;
  border-radius: 5px;
  color: white; 
}

.logout-info {
  background-color: rgba(255, 0, 0, 0.7); 
  padding: 5px 10px;
  border-radius: 5px;
  color: white; 
}

  .nombre{
    text-align: center;
  }
  .main{
    background-color: #FFFFFA;
  }
  footer{ 
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #C1121F;
    align-items: center;
    color: #FFFFFA;
    border: solid 5px #FFFFFA;
  }


  .inicio{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
  .inicio:hover{
    text-decoration: none;
    color: white;
}
/* lista carta */
  .customButton{
    display: flex;
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 120px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C1121F;
    color:beige;
    text-decoration: none;
}

  .customButton:hover{
    color: white;
    cursor: pointer;
}



/* inicio */
.carousel-inner {
    min-height: 100vh /* Ajusta el valor según lo que necesites */
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    background-size: cover;
  }

  
  
  


/* Responsiveness */
@media (max-width: 576px) {
  header .logo {
      width: 70px; /* Logo más pequeño en móviles */
  }

  .menu-icon {
      width: 25px; /* Icono más pequeño en móviles */
  }

  .nav-link {
      font-size: 0.9rem; /* Texto más pequeño */
  }
}



/* media querys */
@media (max-width: 768px) {
    .positionRelative {
      z-index: 1;
    }
    .menu ul {
      flex-direction: column;
    }
    .logoUl {
      display: none;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    header label {
      display: block;
      position: relative;
      right: 25px;
    }
    header label img {
      width: 50px;
    }
    header #btnMenu:checked ~ .menu {
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }
    header .menu {
      position: absolute;
      top: 65px;
      background-color: #C1121F;
      width: 100%;
      visibility: hidden;
      transition: visibility 1s, opacity 1s ease;
      opacity: 0;
    }
    header .logoMenu {
      display: block;
      width: 100px;
      margin-left: 25px;
    }
    header img {
      display: block;
      width: 100px;
    }
    .inicio{
        display: none;
    }
    header .logo {
      width: 90px; /* Tamaño estándar del logo */
  }

  .menu-icon {
      width: 30px;
  }
  }
