body{
    background-color: burlywood;
}
.navegador{
    display: flex;
    justify-content: flex-start;
    list-style: none;
    background-color: black;
    padding: 20px;
    margin: 5px 1px 5px 1px;
}
.navegador li a{
    text-decoration: none;
    color: aliceblue;
}
.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: black;
    color: aliceblue;
    padding: 20px;
    margin: 5px 1px 5px 1px;
}
