/* estilos generales*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#C1121F;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
  }
  
  header {
    background-color:#C1121F;
    border: solid, 5px, #FFFFFA;
  }
  header #btnMenu, header label {
    display: none;
  }
  header .logoMenu {
    display: none;
  }
  header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 15px 20px;
    align-items: center;
    margin-bottom: 0px;
    text-decoration: none;
  }
  header nav ul img {
    width: 150px;
  }
  header nav ul {
    padding: 10px;
    font-size: 20px;
  }
  header nav ul a {
    text-decoration: none;
    color: #FFFFFA;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
  }
  header nav ul a:hover {
    text-decoration: underline #FFFFFA;
    color: #FFFFFA;
  }

.footer{
    display: flex;
    justify-content: center;
    gap: 50px;
    background-color: #C1121F;
    color: aliceblue;
    padding: 20px;
    margin-top: 5px;
    z-index: 1;
}
.inicio{
    cursor: pointer;
    text-decoration: none;
    color: white;
}
.inicio:hover{
    text-decoration: none;
    color: white;
}
/* lista carta */
.customButton{
    display: flex;
    position: fixed;
    width: 55px;
    height: 55px;
    bottom: 120px;
    right: 30px;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C1121F;
    color:beige;
    text-decoration: none;
}

.customButton:hover{
    color: white;
    cursor: pointer;
}



/* inicio */

.carousel-container {
    width: 100%;
    height: 400px; 
    overflow: hidden;
}
.carousel-item img {
    object-fit: cover;
}





/* media querys */
@media (max-width: 768px) {
    .positionRelative {
      z-index: 1;
    }
    .menu ul {
      flex-direction: column;
    }
    .logoUl {
      display: none;
    }
    .contenedorShop {
      display: grid;
      background-color: #FFFFFA;
      grid-template-columns: repeat(1, 1fr);
      justify-content: center;
      align-items: center;
    }
    .contenedorCompras, .contenedorAyuda {
      display: grid;
      width: 80%;
      text-align: center;
      margin: 5px;
      padding: 5px;
    }
    .botonCompras {
      height: 70px;
      width: 50vw;
      font-size: 1rem;
    }
    .contenedorAyuda {
      width: 70vw;
    }
    .positionAbsolute a {
      font-size: 0.7rem;
      width: 100%;
    }
    .usuarioStyle {
      display: grid;
      justify-content: center;
      text-align: center;
      align-content: center;
    }
    input.inicioSesion {
      display: grid;
      width: 100%;
      justify-items: center;
    }
    .olvidarContraseña {
      display: contents;
      justify-content: center;
    }
    .crearCuenta {
      display: contents;
      justify-content: center;
    }
    footer .wrapper .contacto li {
      width: 20%;
      justify-items: center;
    }
    .block {
      display: block;
    }
    .faqStyle .botonSuscribirse {
      font-size: 1rem;
      width: 50vw;
      margin: 10px auto;
      height: 50px;
    }
    .faqStyle {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .faqStyle .style {
      width: 100%;
    }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    header label {
      display: block;
      position: relative;
      right: 25px;
    }
    header label img {
      width: 50px;
    }
    header #btnMenu:checked ~ .menu {
      visibility: visible;
      opacity: 1;
      z-index: 999;
    }
    header .menu {
      position: absolute;
      top: 102px;
      background-color: #000103;
      width: 100%;
      visibility: hidden;
      transition: visibility 1s, opacity 1s ease;
      opacity: 0;
      border: 1px #515052;
      margin: 5px;
    }
    header .logoMenu {
      display: block;
      width: 100px;
      margin-left: 25px;
    }
    header img {
      display: block;
      width: 100px;
    }
  }
   