{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patio del Abuelo</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <nav class="navegador">
        <h2>Patio del Abuelo</h2>
        <div>
            <a href="{% url "listaBebidas"%}">Bebidas</a>
            <a href="{% url "listaPlatos"%}">Platos</a>
            <a href="{% url "listaPostres"%}">Postres</a>
            <a href="{% url "listaMesas"%}">Mesas</a>
            <a href="{% url "listaClientes"%}">Clientes</a>
            <a href="{% url "listaMozos"%}">Mozo</a>
            <a href="{% url "listaOrdenes"%}">Orden</a>
            <a href="{% url "listaFacturas" %}">Factura</a>
        </div>
    </nav>
    <main>
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
            </div>
        </div>
        {% endblock %}
    </main>
    <footer class="container-fluid footer">
        <div>Patio del Abuelo</div>
        <div>&copy; Todos los derechos reservados</div>
    </footer>
</body>
</html>