{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patio del Abuelo</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'estilos.css' %}">
</head>
<body>
    <nav class="container-fluid">
        <ul class="row navegador">
            <li class="col"><a href="{% url "listaBebidas"%}">Bebidas</a></li>
            <li class="col"><a href="{% url "listaPlatos"%}">Platos</a></li>
            <li class="col"><a href="{% url "listaPostres"%}">Postres</a></li>
            <li class="col"><a href="{% url "listaMesas"%}">Mesas</a></li>
            <li class="col"><a href="{% url "listaClientes"%}">Clientes</a></li>
            <li class="col"><a href="">Orden</a></li>
            <li class="col"><a href="">Factura</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        <div class="container">
            <div class="row">
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
                <div class="col">Patio del Abuelo</div>
            </div>
        </div>
        {% endblock %}
    </main>
    <footer class="container-fluid footer">
        <div>Patio del Abuelo</div>
        <div>&copy; Todos los derechos reservados</div>
    </footer>
</body>
</html>