{% extends "base.html" %}
{% block content %}
<div class="container">
    <table class="table m-5">
        <thead class="bg-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
            {% for m in mesas%}
              <tr>
                <td>{{m.id}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.estado}}</td>
              </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}