{% extends "base.html" %}

{% block content %}
    <div class="row">
        {% comment %} div o contenedor en el que un Plato random aparece {% endcomment %}
        <div class="col-6">
            <div class="col border shadow-sm m-1">
                {% comment %} nombre del plato o menu {% endcomment %}
                <h1>{{carta.nombre}}</h1>
                {% comment %} descripcion del plato (lleva huevos, tomate, etc){% endcomment %}
                <p>{{carta.descripcion}}</p>
                {% comment %} precio del plato{% endcomment %}
                <p>{{carta.precio}}</p>
                {% comment %} categoria del plato (bebida, postre, principal){% endcomment %}
                <p>{{carta.categoria.nombre}}</p>
                {% comment %} subcategoria del plato (vinos, empanadas, etc){% endcomment %}
                <p>{{carta.subCategoria.nombre}}</p>
                {% comment %} imagen del plato {% endcomment %}
                <img src="{{carta.imagen.url}}" alt="" class="img-fluid">
            </div>
        </div>
        {% comment %} div o contenedor que contiene el Plato del dia {% endcomment %}
        <div class="col-6">
            {% for p in platoDia%}
            <div class="col border shadow-sm m-1">
                {% comment %} nombre del plato del dia {% endcomment %}
                <h1>{{p.id_carta.nombre}}</h1>
                {% comment %} descripcion del plato del dia (lleva huevos, tomate, etc) {% endcomment %}
                <p>{{p.id_carta.descripcion}}</p>
                {% comment %} precio del plato del dia {% endcomment %}
                <p>{{p.id_carta.precio}}</p>
                {% comment %} categoria del plato del dia (bebida, postre, principal){% endcomment %}
                <p>{{p.id_carta.categoria.nombre}}</p>
                {% comment %} subcategoria del plato del dia (vinos, empanadas, etc){% endcomment %}
                <p>{{p.id_carta.subCategoria.nombre}}</p>
                {% comment %} imagen del plato del dia {% endcomment %}
                <img src="{{p.id_carta.imagen.url}}" alt="" class="img-fluid">
            </div>
            {%endfor%}
        </div>
    </div>


{% endblock %}
