{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="display-4 my-3">Anular Factura</h3>
        <p>¿Está seguro de anular la factura <b>{{factura.id}} {{ factura.fecha }}</b>?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <a class="btn btn-primary" href="{% url 'listaFacturas' %}">Cancelar</a>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <button class="btn btn-sm btn-danger">
            <a href="{% url "listaCarta" %}" class="text-white text-decoration-none bg-danger">Volver</a>
        </button>
        {% endif %}
    </div>


{% endblock %}