{% extends "base.html" %}
{% block estilos %}
<style>
    .card {
        background-color: #f8f9fa; 
        border: 1px solid #dee2e6; 
        border-radius: 10px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .display-4 {
        font-size: 2.5rem; 
        font-weight: bold;
        color: #343a40; 
    }
    
    .btn-danger {
        background-color: #dc3545; 
        border: none; 
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    .btn-danger:hover {
        background-color: #c82333; 
        transform: scale(1.05);
    }
    
    .btn-secondary {
        background-color: #6c757d; 
        border: none; 
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    .btn-secondary:hover {
        background-color: #5a6268; 
        transform: scale(1.05); 
    }
    
    .alert {
        border-radius: 10px;
        padding: 10px 15px;
    }
    
    .btn-dark {
        background-color: #343a40; 
        border: none; 
        transition: background-color 0.3s ease, transform 0.3s ease; 
    }
    
    .btn-dark:hover {
        background-color: #23272b; 
        transform: scale(1.05); 
    }
    
    a.text-decoration-none:hover {
        text-decoration: underline; 
    }
    
</style>
{% endblock %}
{% block content %}

    <div class="container mt-5">
        <div class="card shadow-sm p-4 mb-4 bg-white rounded">
            <h3 class="display-4 mb-3 text-center">Borrar Mesa</h3>
            <p class="text-center">¿Está seguro de borrar la mesa: <b>{{ mesa.nombre }}</b>?</p>
            <form method="post" class="text-center">
                {% csrf_token %}
                <button class="btn btn-danger mr-2" type="submit">Aceptar</button>
                <a class="btn btn-secondary ml-2" href="{% url 'listaMesas' %}">Cancelar</a>
            </form>
            {% if messages %}
            <div class="alert alert-info mt-3">
                <ul class="list-unstyled">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="text-center">
                <a href="{% url "listaMesas" %}" class="btn btn-sm btn-dark mt-3 w-50">Volver</a>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}