{% extends "base.html" %}
{% block content %}

    <div class="container">
        <h3 class="display-4 my-3">Borrar Orden</h3>
        <p>¿Está seguro de borrar la orden <b>{{ orden.fecha }}</b>?</p>
        <form method="post">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">Aceptar</button>
            <a class="btn btn-primary" href="{% url 'listaOrdenes' %}">Cancelar</a>
        </form>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        <div class="text-center">
            <a href="{% url "listaOrdenes" %}" class="btn btn-sm btn-dark mt-3 w-50">Volver</a>
        </div>
        {% endif %}
    </div>

{% endblock %}