appdirs             
argcomplete         
asgiref             
beautifulsoup4      
colorama            
Django              
django-bootstrap-v5 
escpos              
future              
importlib_resources 
pillow           
pip               
pyserial            
python-barcode     
python-escpos       
pyusb               
PyYAML              
qrcode              
setuptools         
six                 
soupsieve           
sqlparse            
typing_extensions   
tzdata             
viivakoodi         